/*
Filename: myvehicle.css
Developed By: Chris Chatzilenas Email: chrischatzilenas@gmail.com
Last Code Revision: 29/01/2015
*/

body{
    background-image: url("wallpaper.jpg");
    margin:auto;
}

div.Name{
    
    position:absolute;
    bottom:0px;
    margin-left: 35%;
          
}

div.Camera_in{
    position:absolute;
    margin-left:0%;
    top:20%;

}

div.Car_in{
    position:absolute;
    right:0%;
    top:10%;

}


div.Stream,iframe.noScrolling{
    width: 700px; 
    height: 500px; 
    overflow: hidden;
    display:block;
    margin-right:auto;
    margin-left: auto;
}
 
div.image{
    position: absolute;
    bottom:0px;
    right:30%;
       
}


div.Copyright{
    position:absolute;
    bottom:0%;
    right: 0%;
    color:graytext;
    
}
